<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Loan Department">
	<listeners>
		<listener class-name="StandaloneTestModified.testcomponents.Listeners"/>
	</listeners>
	<parameter name="URL" value="hdfc.com"/>
  <test thread-count="5" name="Personal Loan">
    <classes>
      <class name="test.day1"/>
      <class name="test.day2"/>
      <class name="test.day4">
		  <methods>
			  <include name="apiLoginHomeLoan"></include>
		  </methods>
	  </class>
    </classes>
  </test>
    <test thread-count="5" name="Car Loan">
		<parameter name="URL" value="hdfcbank.com"/>
		<parameter name="APIKey/usrname" value="1jP=U3oe(bm|u9obPyqT,zMLOjWZvD~q+/4sWP%="/>
    <classes>
      <class name="test.day3">
		  <methods>
			  <exclude name="mobileLoginCarLoan"></exclude>
		  </methods>
	  </class>
    </classes>
  </test>
</suite>